body {
    background-color: #ADD8E6;
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
    font-size: 5em;
    color: black;
}

h2 {
    font-size: 1.8em;
    color: black;
}

h3 {
    font-size: 1.3em;
    color: black;
}

#paragraph2 {
    padding: 10px;
    width: 60%;
    margin-left: 10px;
    padding: 30px;
    border: 5px solid darkgreen;
    line-height: 1.8;
    background-color: white;
    text-align: left;
}

.blue {
    padding: 20px;
    color: white;
    background-color: #15008b;
}

a {
    color: #cc0000;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

#w3link {
    color: #009900;
    font-weight: bold;
}

ol {
    padding-left: 40px;
}

ol li {
    margin: 8px 0;
}

ol li a {
    color: #0066cc;
}

table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

th {
    background-color: #D3D3D3;
    color: rgb(0, 0, 0);
    padding: 12px;
    text-align: center;
    border: 1px solid #333;
}

td {
    background-color: #f9f9f9;
    padding: 12px;
    border: 1px solid #333;
    text-align: center;
}

tr:nth-child(even) td {
    background-color: #e9e9e9;
}
