* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Times New Roman, serif;
    background-color: #cccccc;
}

#jumpMenu {
    position: fixed;
    left: 0;
    top: 0;
    width: 15%;
    height: 100%;
    background-color: #666666;
    padding: 10px;
    overflow-y: auto;
    border-right: 3px solid black;
}

#jumpMenu h2 {
    color: yellow;
    font-size: 1em;
    margin-bottom: 10px;
}

#jumpMenu a {
    display: block;
    color: white;
    text-decoration: underline;
    padding: 5px 0;
}

#jumpMenu a:hover {
    color: lime;
}

main {
    margin-left: 15%;
    position: relative;
}

header {
    position: fixed;
    top: 0;
    left: 15%;
    width: 85%;
    background-color: #888888;
    color: black;
    padding: 10px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid black;
}

header p {
    font-size: 1.5em;
    font-weight: normal;
    text-align: center;
    margin-bottom: 10px;
}

header nav {
    display: flex;
    gap: 5px;
    justify-content: center;
}

header button {
    background-color: lightblue;
    color: black;
    border: 2px solid black;
    padding: 5px 10px;
    cursor: pointer;
}

header button:hover {
    background-color: yellow;
}

main h1 {
    margin-top: 110px;
    text-align: center;
    color: black;
    padding: 10px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
    justify-content: flex-start;
}

article {
    width: 300px;
    background-color: #eeeeee;
    padding: 10px;
    border: 2px solid black;
}

article h2 {
    color: black;
    margin-bottom: 5px;
}

article p {
    color: black;
    line-height: 1.4;
    margin-bottom: 5px;
}

article a {
    color: blue;
    text-decoration: underline;
}

article a:hover {
    color: red;
}

#thanks {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: orange;
    color: black;
    padding: 10px 15px;
    border: 3px solid black;
    font-weight: bold;
}